---
title: "Wardley Maps"
description: "Map Camp is series of events including workshops and talks about Wardley mapping techniques. It's a community event driven by real practitioners."
layout: splash
comments: true
permalink: /
date: 2017-02-02
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  #cta_label: "Register"
  #cta_url: "_pages/registration/"
  image: /assets/images/map-camp-card.png
  overlay_image: /assets/images/YellowstoneBackground.jpg
excerpt: "An event, a community, a new way to understand strategy."
#excerpt: "5th October 2017, St John's Church"
#excerpt: "Maps enable us to determine the why of action."
#excerpt: "Orienteering, Strategy, Mapping... join us for MapCamp 2017"
intro:
#  - excerpt: 'Given the importance of situational awareness e.g. mapping the environment and your opponent’s potential positions and movement - in any form of competitive engagement, then...
#   where are the equivalent maps for business? '
  excerpt: "Maps enable us to determine the why of action."
feature_row:
  - image_path: assets/images/lost_in_fog.jpg
    alt: ""
    title: "Lost?"
    excerpt: "'Does this strategy makes sense?' Most Executives have no reasonable way to answer this simple question."
    url: "https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec#.lq7sdzhns"
    btn_label: "Find Your Path"
    btn_class: "btn--inverse"
  - image_path: assets/images/fiveFactorsTwoWhys.jpg
    alt: "placeholder image 2"
    title: "Mapping and the Strategic Cycle"
    excerpt: "Before launching your team of elves and dwarves into the midst of a battle then the first thing you do is scout out the landscape and improve your situational awareness."
    url: "https://medium.com/wardleymaps/getting-started-yourself-e1a359b785a2#.hgf14txgq"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/wardley.jpg
    title: "We'd Love to See You"
    excerpt: '__Join us__ for a workshop and lightning talks with Simon Wardley and friends. We like to call it... **Map Camp**'
    url: "/_pages/events/"
    btn_label: "Find an Event"
    btn_class: "btn--inverse"

---

<div>
  <h1>What is Map Camp?</h1>
  <p>It started as a tweet from <a target="_blank" href="https://twitter.com/swardley/status/827140829877850112">Simon Wardley</a> asking if anyone would like to have <em>"a small meetup in London on mapping"</em>. It had so much interest that it quickly turned into a full day event. Map Camp is now a series of events including workshops and talks about mapping techniques used in organisations.</p>
</div>

<div>
  <h1>Map Camp 2021</h1>
  <p>You're invited to <a target="_blank" href="https://www.mapcamp.co.uk/">Map Camp London</a>, a virtual event on <a target="_blank" href="https://www.mapcamp.co.uk/">13 October 2021</a>. Join us!</p> 
  <p><a class="btn btn--success" target="_blank" href="https://mapcamp.co.uk/">Get Tickets</a></p>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<img class="align-center" src="assets/images/supportingdiversity_medium2.png"><br/><br/>

<a class="twitter-timeline" href="https://twitter.com/map_camp">Tweets by map_camp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
