---
title: "Map Camp"
layout: splash
comments: true
permalink: /
date: 2017-02-02
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: /assets/images/YellowstoneBackground.jpg
  cta_label: "Volunteer"
  cta_url: "http://volunteers.map-camp.com"
excerpt: "5th October 2017, St John's Church"
#excerpt: "Maps enable us to determine the why of action."
#excerpt: "Orienteering, Strategy, Mapping... join us for MapCamp 2017"
intro:
#  - excerpt: 'Given the importance of situational awareness e.g. mapping the environment and your opponent’s potential positions and movement - in any form of competitive engagement, then...
#   where are the equivalent maps for business? '
  excerpt: "Maps enable us to determine the why of action."
feature_row:
  - image_path: assets/images/lost_in_fog.jpg
    alt: ""
    title: "Lost?"
    excerpt: "'Does this strategy makes sense?' Most Executives have no reasonable way to answer this simple question."
    url: "https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec#.lq7sdzhns"
    btn_label: "Find Your Path"
    btn_class: "btn--inverse"
  - image_path: assets/images/fiveFactorsTwoWhys.jpg
    alt: "placeholder image 2"
    title: "Mapping and the Strategic Cycle"
    excerpt: "Before launching your team of elves and dwarves into the midst of a battle then the first thing you do is scout out the landscape and improve your situational awareness."
    url: "https://medium.com/wardleymaps/getting-started-yourself-e1a359b785a2#.hgf14txgq"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/wardley.jpg
    title: "We'd Love to See You"
    excerpt: '__Join us__ for a workshop and lightening talks with Simon Wardley and friends. We like to call it... **Map Camp**'
    url: "http://volunteers.map-camp.com/"
    btn_label: "Waiting list"
    btn_class: "btn--inverse"

---

<div>
  <p><strong>What is Map Camp?</strong> It started as a tweet from <a target="_blank" href="https://twitter.com/swardley/status/827140829877850112">Simon Wardley</a> asking if anyone would like to have <em>"a small meetup in London on mapping"</em>. It had so much interest that it quickly turned into a full day event. Map Camp is a one day London based conference including workshops and talks about mapping techniques used in organisations.</p>
  <p><strong>General Tickets are no longer available</strong>. Add your name at the bottom of <a target="_blank" href="http://volunteers.map-camp.com">the volunteer spreadsheet</a> to join the waiting list.</p>
  <p><strong>Diversity Tickets have been reserved and are still available</strong>. People in underrepresented groups <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc7YiK2D7lCF82fgWri1Cyphlr81oIxIXxnweVhAa-ykS0mQA/viewform?usp=sf_link">are encouraged to apply</a>. To reduce the barrier to attendance, <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfMGTkaLDtQ4Fqpdh5oKSVGMlLAnow5-1MJ8mDVB5TlTUiuqw/viewform?usp=sf_link">a limited number of bursaries are also available</a> to assist those with costs related to caring responsibilities, such as childcare.</p>
</div>

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<a class="twitter-timeline" href="https://twitter.com/map_camp">Tweets by map_camp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
