---
title: "Map Camp"
layout: splash
permalink: /
date: 2017-02-02
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: assets/images/Yellowstone_1871b.jpg
  cta_label: "Volunteer"
  cta_url: "http://volunteers.map-camp.com"
excerpt: "Maps enable us to determine the why of action."
#excerpt: "Orienteering, Strategy, Mapping... join us for MapCamp 2017"
#intro:
#  - excerpt: 'Given the importance of situational awareness e.g. mapping the environment and your opponent’s potential positions and movement - in any form of competitive engagement, then...
#   where are the equivalent maps for business? '
feature_row:
  - image_path: assets/images/lost_in_fog.jpg
    alt: ""
    title: "Lost?"
    excerpt: "'Does this strategy makes sense?' Most Executives have no reasonable way to answer this simple question."
    url: "https://medium.com/wardleymaps/on-being-lost-2ef5f05eb1ec#.lq7sdzhns"
    btn_label: "Find Your Path"
    btn_class: "btn--inverse"
  - image_path: assets/images/fiveFactorsTwoWhys.jpg
    alt: "placeholder image 2"
    title: "Mapping and the Strategic Cycle"
    excerpt: "Before launching your team of elves and dwarves into the midst of a battle then the first thing you do is scout out the landscape and improve your situational awareness."
    url: "https://medium.com/wardleymaps/getting-started-yourself-e1a359b785a2#.hgf14txgq"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: assets/images/wardley.jpg
    title: "We'd Love to See You"
    excerpt: '__Join us__ for a workshop and lightening talks with Simon Wardley and friends. We like to call it... **Map Camp**'
    url: "#test-link"
    btn_label: "Register (Soon)"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
